version: "3.8"

services:
    web-api:
        build:
            context: ./web-api
            dockerfile: ./docker/Dockerfile.development
        ports:
            - "5000:5000"
        volumes:
            - .:/usr/src/app:cached

    web-app:
        build:
            context: ./web-app
            dockerfile: ./docker/Dockerfile.development
        ports:
            - "5001:8080"
        volumes:
            - .:/usr/src/app:cached

    db:
        build:
            context: ./db
            dockerfile: ./docker/Dockerfile.development
        ports:
            - "5002:5432"
            